body,
html {
  background-size: cover;
  background-repeat: no-repeat;
  background: radial-gradient(at 20% 30%, #f53b2a, transparent),
    radial-gradient(at 80% 70%, #fbe56b, transparent),
    radial-gradient(at 50% 50%, #000000, transparent),
    radial-gradient(at 30% 80%, #b7e4ea, transparent),
    radial-gradient(at 70% 20%, #ae2724, transparent);
}
